button.calculatorButton {
  width: calc(((100% / var(--elementsInRow)) - ((var(--gap) * (var(--elementsInRow) - 1)) / var(--elementsInRow))));
  height: 100%;
  background-color: #7d7d7d;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: 250ms;

  &:hover {
    filter: brightness(1.1);
  }

  img {
    width: 30%;
    height: auto;
  }
}

button.calculatorButton.functional {
  background-color: #ff9f0a;
  font-size: 24px;
  font-weight: 600;
}

button.calculatorButton.doubleSize {
  width: calc((((100% / var(--elementsInRow)) - ((var(--gap) * (var(--elementsInRow) - 2)) / (var(--elementsInRow) * 2)))) * 2);
}
